.Block-6 {

  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E8E8E8;
  font-family: 'Josefin Sans', sans-serif;
}

.content-block-6 {
  text-align: center;
  width: 80%; 
}

.Sam {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content-block-6 .sam-text {
color: #E8E8E8;
font-family: Josefin Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
