.header {
  position: relative;
  width: 100%;
  height: 821px;
  background-image: url('../images/headerimg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.header .header-content {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.header .header-content .brand-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.header .header-content .sub-heading {
  color: #fff;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-top: 10px;

}
.header .header-content .background-image button.header-btn {
  background-image: url('../images/bluerectangle.svg');
  background-size: cover; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Aleo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: opacity 0.3s ease; 
}

.scroll {
  color: #FFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.branding {
  margin-bottom: 20px;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 503px;
}

.search-container {
  display: flex;
  align-items: center; 
  border-radius: 5px; 
  overflow: hidden; 
  margin-top: 20PX;
}

.search-input {
  padding: 8px; 
}

.btn {
  background-color: #5474FD; 
  color: #fff; 
  padding: 8px 12px; 
  border: none; 
  cursor: pointer;
  display: flex;
  align-items: center; 
}

.btn img {
  margin-left: 8px; 
}
